<form login [formGroup]="registerForm" (ngSubmit)="register()" class="p-3">
    <h1 class="reg-lbl text-light">Register Solar Panel System</h1>
  
    <div class="alert alert-danger" role="alert" *ngIf="hasError">
      {{errorValue}}
    </div>
    <div class="mb-3">
      <label for="name" class="col-form-label text-light">Name of device</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Panel House" formControlName="name">
      <div *ngIf="registerForm.get('name').hasError('required') 
    && registerForm.get('name').touched" class="red-dot">
    Name is required.
    </div>
    <div *ngIf="registerForm.get('name').hasError('minlength')
    && registerForm.get('name').touched" class="red-dot">
     Name should be atleast 3 characters long.
    </div>
    </div>
    <div class="row white-border m-3 p-3">
        <div class="col-12 text-center">
            <h4 class="text-light">Add Panel to System</h4>
        </div>
        <div class="col-12" [formGroup]="addPanelForm">
            <div class="mb-1">
                <label for="size" class="col-form-label text-light">Size (m ^2)</label>
                <input type="number" class="form-control" name="size" id="size" min="0" max="300" [min]="0" [max]="300" placeholder="4" formControlName="size">
                <div *ngIf="addPanelForm.get('size').hasError('required') 
            && addPanelForm.get('size').touched" class="red-dot">
            Panel size is required.
            </div>

              </div>
            <div class="mb-2">
                <label for="efficency" class="col-form-label text-light">Efficency (0% - 100%)</label>
                <input type="number" class="form-control" name="efficency" id="efficency" min="0" [min]="0" max="100" [max]="100" placeholder="100" formControlName="efficency">
                <div *ngIf="addPanelForm.get('efficency').hasError('required') 
                && addPanelForm.get('efficency').touched" class="red-dot">
                Panel efficency is required.
                </div>
              </div>
            <div class="mb-1">
                <button type="button" class="button-style" (click)="addPanel()">Add</button>
              </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-12"><h5 class="text-light">Total Panels {{panels.length}}</h5></div>
            
        </div>    
    </div>
    <div class="mb-3 text-light mt-2">
      <label>Select Device Image</label><br>
  
      <div class="text-center">
        <label for="fileInput">
          <img [src]="base64ImageDisplay" alt="device-image" *ngIf="base64ImageDisplay !== ''"
            style="width: 70px;height: 70px;border-radius: 50%; cursor: pointer;">
          <img src="../../../../assets/avatar.jpg" alt="device-image"
            style="width: 70px;height: 70px;border-radius: 50%; cursor: pointer;" *ngIf="base64ImageDisplay === ''">
        </label>
        <input type="file" (change)="onImageSelected($event)" accept="image/*" id="fileInput" style="display: none;">
      </div>
    </div>

    <div class="mb-3">
      <button type="submit" class="button-style" id="confirmRegistration">Register SPS</button>
    </div>
  
  </form>