.register{
    color:#073e66;
    background-color: white;
    border: 2px solid #073e66;
    margin-top: 7px;
    width: auto;
    padding:10px 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    transition: .3s ease-in-out;
    text-align: center;
}
.register:hover{
    color: white;
    background-color: #073e66;
    transition: .3s ease-in-out;
}
.property-row:hover{
    cursor: pointer;
}

.td-red{
    color: red;
    font-weight: 500;
}
.td-green{
    color: green;
    font-weight: 500;
}
.td-yellow{
    color: rgb(141, 141, 53);
    font-weight: 500;
}