.form-control{
    background-color: rgb(244, 244, 244);
}
img{
    width:200px;border-radius: 50%;height:auto;
}
section{
    width: 80%;
    margin: 20px auto;
}

.info-text{
    font-size: 20px;
}
.button-font{
    font-size: 18px;
    padding: 14px;
}
@media only screen and (max-width: 800px) {
    section{
        width: 90%;
    }
    
}
th:hover{
    cursor: pointer;
}
.table-wrapper-scroll-y{
    height: 250px;
}