img{
    width:200px;border-radius: 50%;height:auto;
}
section{
    width: 60%;
    margin: 20px auto;
}

.info-text{
    font-size: 20px;
}
.button-font{
    font-size: 22px;
    padding: 14px;
}
@media only screen and (max-width: 800px) {
    section{
        width: 90%;
    }
    
}
