<section class="px-5 pt-5 pb-3 dark-blue-background text-light">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-4 col-6">
            <button (click)="goBack()" class="button-style button-font">Go Back</button>
        </div>
    </div>


    <form login [formGroup]="editPasswordForm" (ngSubmit)="editPassword()" class="p-3">
        <h1 class="reg-lbl text-light">Edit Password</h1>

        <div class="alert alert-danger" role="alert" *ngIf="hasError">
            {{errorValue}}
        </div>
        
        <div class="mb-3">
            <label for="oldPassword" class="col-form-label text-light">Current Password</label>
            <input type="password" class="form-control" name="oldPassword" id="oldPassword" formControlName="oldPassword">
            <div *ngIf="editPasswordForm.get('oldPassword').hasError('required') 
            && editPasswordForm.get('oldPassword').touched" class="red-dot">
              Password is required.
            </div>
            <div *ngIf="editPasswordForm.get('oldPassword').hasError('minlength') 
            && editPasswordForm.get('oldPassword').touched" class="red-dot">
              Password must be at least 6 characters.
            </div>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="col-form-label text-light">New Password</label>
            <input type="password" class="form-control" name="newPassword" 
            id="newPassword" formControlName="newPassword">
            <div *ngIf="editPasswordForm.get('newPassword').hasError('required') 
            && editPasswordForm.get('newPassword').touched" class="red-dot">
              Password is required.
            </div>
            <div *ngIf="editPasswordForm.get('newPassword').hasError('minlength') 
            && editPasswordForm.get('newPassword').touched" class="red-dot">
              Password must be at least 6 characters.
            </div>
        </div>
        <div class="mb-3">
            <label for="repeatNewPassword" class="col-form-label text-light">Repeat New Password</label>
            <input type="password" class="form-control" name="repeatNewPassword" 
            id="repeatNewPassword" formControlName="repeatNewPassword">
            <div *ngIf="editPasswordForm.get('repeatNewPassword').hasError('required') 
            && editPasswordForm.get('repeatNewPassword').touched" class="red-dot">
              Password is required.
            </div>
            <div *ngIf="editPasswordForm.get('repeatNewPassword').hasError('minlength') 
            && editPasswordForm.get('repeatNewPassword').touched" class="red-dot">
              Password must be at least 6 characters.
            </div>
        </div>
        <div class="mt-2 text-center">
            <button type="submit" class="button-style" id="confirmRegistration">Submit</button>
        </div>

    </form>
</section>